.buttons{
    width: 85px;
    height: 35px;
    border: 3px solid;
    border-radius: 12px;
    color:white;
    cursor: pointer;
    background-color: #333333;
    font-family: consolas, monospace;
    font-size: 15px;
}

#timeDisplay{
    color: rgb(48, 228, 48);
    font-size: 75px;
    font-family: consolas, monospace;
}

#timeContainer{
    width: 500px;
    margin: auto;
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #222222;    
}